extends ../layout

block scripts
    script(src='/socket.io/socket.io.js')

block layout-content

  div
    .container
      br
      table#myTable.table
        thead
          tr
            th Team
            th total_matches
            th won_matches
            th lost_matches
            th drawn_matches
            th total_points
        tbody
    script.
      getData();  
      $(function () {
        var socket = io();
        socket.on('changeTournamentStand', function(data){
          $('#myTable tbody tr').remove();
            data.forEach(addRow);
          });
        });
      function addRow(data){
        $('#myTable > tbody').append(`
          <tr>
          <td>${data.team.name}</td>
          <td>${data.total_matches}</td>
          <td>${data.won_matches}</td>
          <td>${data.lost_matches}</td>
          <td>${data.drawn_matches}</td>
          <td>${data.total_points}</td>
          </tr>`);
        }
      function getData(){
        $.get('tournament_standings/get', (data) => {
          data.forEach(addRow);
        });
      }
    
  hr
  footer
  .container
    div(align='center')
      | Uniajc